body
{
  color: rgb(223, 64, 64);
  background: linear-gradient(#c344a5,#1fcd9f,rgb(234, 108, 188));
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}